@font-face {
    font-family: "EduQLD";
    src: url("./schriftarten/EduQLDBeginner.ttf")
}
body{
    font-family: EduQLD;
    background-color: #b0f9a0;
}
a{
    text-decoration: none;
}
#oh-div{
    background-color: #8bd086;
    width: 95vw;
    border-style: hidden;
    border-radius: 10vw;
    height: 16vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
}
#obere-header{
    border-style: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 0.8vw;
    width: 90vw;
    font-size: 5vw;
    margin-left: 3%;
}
#logo{
    width: 12vw;
    height: auto;
}
#pdf-img{
    width: 35vw;
    height:90vw;
    border-style: solid;
    border-radius: 3vw;
    border-width: 1vw;
    border-color: #8bd086;
    margin-top: 3%;
    display: none;
}
#pdf{
    display: none;
}
#pdf-btn{
    width: 10vw;
    height: 9vw;
    font-family: EduQLD;
    font-size: 2vw;
    font-weight: 700;
    background-color: #8bd086;
    border-color: #8bd086;
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5vw;
    margin: 2%;
}
#plus-btn{
    width: 10vw;
    height: 9vw;
    background-color: #8bd086;
    border-color: #8bd086;
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5vw;
    margin: 2%;
}
#plusbild{
    width: 5vw;
    height: 5vw;
}
#minus-btn{
    width: 10vw;
    height: 9vw;
    background-color: #8bd086;
    border-color: #8bd086;
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5vw;
    margin: 2%;
}
#minusbild{
    width: 5vw;
    height: 5vw;
}
#download-btn{
    width: 10vw;
    height: 9vw;
    font-family: EduQLD;
    font-size: 2vw;
    font-weight: 700;
    background-color: #8bd086;
    border-color: #8bd086;
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5vw;
    margin: 2%;
    display: none;
    justify-content: center;
    align-items: center;
}
#pdf-table{
    border-spacing: 5vw;
    width: 60%;
}
#bild{
    width: 60vw;
    height: 60vw;
    background-color: #8bd086;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: hidden;
    border-radius: 20vw;
}
#coderin{
    width: 50vw;
    height: auto;
}